#canvas {
	  display: inline-block;
    box-shadow: 0 0 10px 10px #633;
    margin-left: 20px;
}

#controls {
    display: inline-block;
    vertical-align: top;
}

#rule-controls {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    margin-bottom: 20px;
}

#step {
    margin: 20px;
}